@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font1: "Roboto", sans-serif;
  --font2: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
.navigation {
  font-family: var(--font2);
  height: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5vw;
  margin-top: 4vw;
  font-weight:700;
}
.nav-left ul {
  list-style: none;
  display: flex;
  justify-content: baseline;
}
.nav-left li a {
  color: black;
  text-decoration: none;
  padding: 0.25vw 0.5vw 0.25vw 0.5vw;
  transition: 0.4s ease-in;

}
.nav-left li a:hover {
  color: red;
  background-color: #B5C0D0;
  border: 1px solid rgba(41, 114, 39, 0.477);
  border-radius: 0.5vw;
}
.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 4vw;
  width: 4vw;
}
.containt {
  padding-top: 4vw;
  display: flex;
  height: 40vw;
}
.containt-left {
  padding: 1vw;
  font-size: 2vw;
  font-family: var(--font2);
  width: 50%;
}
.containt-right {
  width: 50%;
  margin-left: 5.75vw;
}
.footer {
  height: 5vw;
  background-color:#20263e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
  font-size: 1.5vw;
  border-radius: 0.5vw 0.5vw 0 0;
}
.hr{
  width: 75vw;
  margin: auto;
}
.break{
  margin-bottom: 2vw;
}
.article-main{
  /* background-color: red; */
  /* height: 30vw; */
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
}
.article-main h2{
 
  font-family: var(--font2);
  font-size: x-large;
  font-size: 3vw;
}
.article{
  margin-top: -2vw;
  margin-bottom: -2vw;
  display: flex;
  font-size: 0.5vw;
}
