* {
  padding: 0;
  margin: 0;
}
.navigation {
  height: 5vw;
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.containt {
  height: 5vw;
  background-color: green;
}
.footer {
  height: 5vw;
  background-color: blue;
}

