@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font1: "Roboto", sans-serif;
  --font2: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
.navigation {
  font-family: var(--font2);
  height: 5vw;
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 1.52vw;
}
.nav-left ul {
  list-style: none;
  display: flex;
  justify-content: baseline;
}
.nav-left li a {
  color: white;
  text-decoration: none;
  padding-left: 1vw;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height:4vw;
    width:4vw;
}
.containt {
  height: 5vw;
  background-color: green;
}
.footer {
  height: 5vw;
  background-color: blue;
}
