.m-auto {
  margin: auto;
}
.max-width1 {
  max-width: 80vw;
}
.max-width2 {
  max-width: 60vw;
}
.btn {
  padding: 0.75vw 1vw 0.75vw 1vw;
  font-size: 1.5vw;
  background-color: red;
  border-radius: 2vw;
  border: none;
  outline: none;
  position: relative;
  right: 7.65vw;
  text-align: center;
  font-family: var(--font2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: green;
}
input {
  font-family: var(--font2);
  font-size: 1.5vw;
  padding: 0.75vw;
  border-radius: 2vw;
  border: 2px solid red;
  outline: none;
  width: 25vw;
}
.containt-left h2 {
  margin-top: 3vw;
  margin-bottom: 0.5vw;
}
.containt-right img {
  border-radius: 3vw;
  padding: 2vw;
  width: 25vw;
  height: 25vw;
}
